<app-home></app-home>

<hr>

<h3 class="text-center mb-5">Reservation List</h3>

<table *ngIf="reservations.length; else noReservation" class="table table-striped">
  <thead>
    <tr>
      <th>Guest</th>
      <th>Email</th>
      <th>Room No.</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody *ngIf="reservations.length; else noReservation">
    <tr *ngFor="let reservation of reservations">
      <td>{{reservation.guestName}}</td>
      <td>{{reservation.guestEmail}}</td>
      <td>{{reservation.roomNumber}}</td>
      <td>{{reservation.checkInDate}}</td>
      <td>{{reservation.checkOutDate}}</td>
      <td>
        <button class="btn btn-sm btn-danger mx-1 my-1" (click)="deleteReservation(reservation.id)">Delete</button>
        <button class="btn btn-sm btn-secondary mx-1 my-1" [routerLink]="['/edit', reservation.id]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>


<!-- <ul *ngIf="reservations.length; else noReservation">
  <li *ngFor="let reservation of reservations">
    Guest: {{reservation.guestName}}<br>
    Email: {{reservation.guestEmail}}<br>
    Room No: {{reservation.roomNumber}}<br>
    Check-In: {{reservation.checkInDate}}<br>
    Check-Out: {{reservation.checkOutDate}}<br>
    <button (click)="deleteReservation(reservation.id)">Delete</button>
    <button [routerLink]="['/edit', reservation.id]">Edit</button>
  </li>
</ul> -->

<ng-template #noReservation>
  <h4 class="text-center">No Reservations Available.</h4>
</ng-template>